{% load static %}
<div class="sidebar p-3 bg-white" id="sidebar">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <img src="{% static 'images/pharmacy.webp' %}" alt="logo" class="img-fluid" style="width: 40px; height: 40px;">
    </div>
    <div class="nav flex-column ">
        <a href="{% url 'dashboard' %}" class="nav-link fs-5 active bg-primary rounded text-white">
            <i class="fas fa-tachometer-alt me-2"></i> Dashboard
        </a>
        <a href="#inventorySubmenu" data-bs-toggle="collapse" class="nav-link text-muted fs-5">
            <i class="fas fa-box me-2"></i> Inventory
            <i class="fas fa-chevron-down float-end"></i>
        </a>
        <ul class="collapse nav flex-column ms-3" id="inventorySubmenu">
            <li class="nav-item">
                <a href="{% url 'inventory' %}" class="nav-link text-muted">
                    <i class="fas fa-list me-2"></i> Overview
                </a>
            </li>
            <li class="nav-item"></li>
                <a href="{% url 'list-of-medicines' %}" class="nav-link text-muted">
                    <i class="fas fa-plus me-2"></i> List Of Medicines
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'add-medicine' %}" class="nav-link text-muted">
                    <i class="fas fa-plus me-2"></i> Add Item
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-muted">
                    <i class="fas fa-history me-2"></i> Stock History
                </a>
            </li>
        </ul>
        <a href="#reportsSubmenu" data-bs-toggle="collapse" class="nav-link text-muted fs-5">
            <i class="fas fa-chart-bar me-2"></i> Reports
            <i class="fas fa-chevron-down float-end"></i>
        </a>
        <ul class="collapse nav flex-column ms-3" id="reportsSubmenu">
            <li class="nav-item">
                <a href="{% url 'sales-reports' %}" class="nav-link text-muted">
                    <i class="fas fa-chart-line me-2"></i> Sales Reports
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'stock-reports' %}" class="nav-link text-muted">
                    <i class="fas fa-boxes me-2"></i> Stock Reports
                </a>
            </li>
        </ul>
        <a href="{% url 'predictions' %}" class="nav-link text-muted fs-5">
            <i class="fas fa-chart-line me-2"></i> Predictions
            <i class="fas fa-chevron-down float-end"></i>
        </a>
        <a href="{% url 'alerts' %}" class="nav-link text-muted fs-5">
            <i class="fas fa-chart-pie me-2"></i> Alerts
            <i class="fas fa-chevron-down float-end"></i>
        </a>
    </div>
</div>