{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        {% include 'dashboard/asidenav.html' %}
        <div class="main-content w-100 bg-light" id="page-content-wrapper">
            {% include 'dashboard/navbar.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>*
    <script src="{$ static 'js/bootstrap.bundle.min.js' }"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Sidebar toggle functionality
            var sidebarCollapse = document.getElementById('sidebarCollapse');
            var sidebar = document.getElementById('sidebar');
            
            if (sidebarCollapse) {
                sidebarCollapse.addEventListener('click', function() {
                    document.body.classList.toggle('sidebar-collapsed');
                    sidebar.classList.toggle('active');
                });
            }

            const savedTheme = localStorage.getItem('theme') || 'light';
            if (savedTheme === 'dark') {
                document.body.classList.add('dark-mode');
            }

            // Search toggle functionality
            var searchToggle = document.getElementById('searchToggle');
            var searchForm = document.getElementById('searchForm');
            
            if (searchToggle && searchForm) {
                searchToggle.addEventListener('click', function() {
                    searchForm.classList.toggle('d-none');
                    searchForm.classList.toggle('d-flex');
                });
            }
        });
    </script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>